body {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.Calculator {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 25px;
}
.ButtonStyle {
    background-color: #293f4d;
    border: 4;
    color: white;
    
    height:60px;
    width:90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  
}
.Keypad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
}
.screen-row input{
    width: 340px;
    height:30px;
    background: rgb(123, 123, 123);
    border: 55px;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 40px;
}

.image-container {
    margin-top: 20px;
}
  
.user-image {
    max-width: 360px;
    height: auto;
    border-radius: 10px;
}
  
